<h1>New Product</h1>
<form action="/products" method="post">
  Name: <input type="text" name="name">
  Price: <input type="text" name="price">
  Description: <input type="text" name="description">
  Image: <input type="text" name="url">
  

  <label for="supplier_id">Supplier:</label>
  <select name="supplier_id">
    <option value="">--Please choose an option--</option>
      <% s = Supplier.all %>
      <% s.each do |sup| %>
        <option value="<%= sup.id %>"><%= sup.name %></option>
      <% end %>
  </select>
      






